<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Include the header fragment -->
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Books</h1>
        <!-- Add Book Button -->
        <a th:href="@{/books/add}" class="btn btn-success">Add Book</a>
    </div>

    <!-- Books List -->
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Book Name</th>
                <th scope="col">Description</th>
                <th scope="col">Details</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.description}"></td>
                <td><a th:href="@{/book/{id}(id=${book.id})}" class="btn btn-info btn-sm">Details</a></td>
                <td><a th:href="@{/books/update/{id}(id=${book.id})}" class="btn btn-warning btn-sm">Edit</a></td>
                <td><a th:href="@{/books/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap JS and dependencies via CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
